@model CoverType

<form method="post" asp-action="Remove">
    <div class="border p-3 mt-4">
        <div class="row pb-s">
            <h2 class="text-primary">Remove Cover Type</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Remove</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
